.userBox {
    background: #1A354A;
    color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 50px;
    margin-top: 100px 0;
    box-shadow: 5px 5px #363738;
    border-radius: 2px;
    max-height: 800px;
    margin-top: 100px;
}

.userName{
    padding-top: 15px;
    text-align: center;
}

.searchBox{
    padding-top: 15px;
}

.description{
    padding-top: 15px;
}

.friendsList{
    background:#193E58;
    margin-top: 25px;
    color: #f4f4f4;
    width:50%;
    overflow: scroll;
    scrollbar-track-color: aliceblue;
}